.footer {
  width: 100vw;
  background-color: var(--color-gray-900);
  padding-top: 1.5rem;
  position: static;
  bottom: 0;
  z-index: 1;
  margin-top: 0rem;

}

.footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 0.7rem;
}

.footer a {
  background-color: var(--color-gray-700);
  color: var(--color-white);
  padding: 0.3rem 1rem;
  border-radius: var(--radius-2);
  transition: var(--transition);
}

.footer a:hover {
  background-color: var(--color-white);
  color: var(--color-gray-900)
}

.copyright {
  padding: 0.2rem 0 0.4rem 0;
  text-align: center;
  border-top: 2px solid var(--color-gray-700);
  color: var(--color-white)
}

/* Mobile */
/* Devices with less than 800px */
@media screen and (max-width: 800px) {
  .footer {
    margin-top: 4rem;
  }

  .footer ul {
    display: none;


  }

  .footer ul li {
    display: flex;
    justify-content: center;
    align-items: center;

  }


}