.footer {
  width: 100vw;
  background-color: rgb(55, 53, 53);
  padding-top: 2rem;
  /* position: fixed;
  bottom: 0;
  z-index: 1; */
  margin-top: 3rem;

}

.footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.3rem;
  gap: 0.7rem;
}

.footer a {
  background-color: rgb(83, 83, 83);
  color: var(--color-white);
  padding: 0.4rem 1.3rem;
  border-radius: var(--radius-2);
  transition: var(--transition);
}

.footer a:hover {
  background-color: rgb(221, 221, 219);
  color: #5a55f8;

}

.line {
  background-color: #5a55f8;
  border: none;
  height: 2px;

}

.copyright {
  padding: 0rem 0 0.4rem 0;
  text-align: center;
  border-top: 2px solid var(--color-gray-700);
  color: var(--color-white)
}

.copyright small {
  font-size: 0.7rem;
}

.active {
  background-color: whitesmoke;
  color: var(--color-gray-700);
}

/* Mobile */
/* Devices with less than 800px */
@media screen and (max-width: 800px) {
  .footer {
    margin-top: 4rem;
    width: 100vw;
    padding-top: 0rem;
  }

  .list {
    display: none;
  }

  .line {
    display: none;
  }

  .copyright {
    background-color: #5a55f8;
  }


  .footer ul li {
    display: flex;
    justify-content: center;
    align-items: center;

  }


}

@media screen and (max-width: 1200px) {

  .footer {
    margin-top: 0;
  }


  .footer ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 2rem;
    gap: 2rem;
    justify-items: center;
  }
}