.navHeader {
  width: 100vw;
  height: 5rem;
  background-color: rgba(223, 223, 223, 0.592);
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 4px solid var(--color-bg);
  box-shadow: 2px 6px 20px -9px rgba(133, 133, 133, 0.75);
  /* -webkit-box-shadow: 2px 6px 20px -9px rgba(133, 133, 133, 0.75);
  -moz-box-shadow: 2px 6px 20px -9px rgba(133, 133, 133, 0.75); */
  backdrop-filter: blur(20px);
  border-bottom: 5px solid var(--color-primary);



}

.containerHeader {
  width: var(--container-width-ls);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.containerHeader a {
  font-size: 1rem;
  color: var(--color-gray-500);
}

.logoImg {
  width: 3rem;
  display: block;

}

.logoImg img {
  border-radius: 0.7rem;
  box-shadow: 2px 6px 20px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 6px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 6px 20px -9px rgba(0, 0, 0, 0.75);

}

.btnHeader {
  display: inline-block;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-2);
  background: var(--color-white);
  font-weight: 500;
  cursor: pointer;
  transition: var(--transition);
}

.displayNone {
  display: none;
}

.navMenu {
  display: flex;
  flex-direction: row;
  gap: 2rem;

}

/* Mobile */
/* Devices with less than 800px */
@media screen and (max-width: 800px) {
  .containerHeader {
    position: relative;
  }

  .navMenu {
    position: absolute;
    border: none;
    gap: 0;
    top: 5rem;
    right: 0%;
    width: 100%;
    flex-direction: column;
    text-align: center;


  }

  .logoImg {
    width: 2.3rem;
    display: block;

  }

  .navHeader li {

    width: 100%;
    box-shadow: -2rem 4rem 4rem rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -2rem 4rem 4rem rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -2rem 4rem 4rem rgba(0, 0, 0, 0.3);
    animation: dropDown 500ms ease forwards;
    opacity: 0;
    transform: rotateX(90deg);
    transform-origin: top;

  }

  @keyframes dropDown {
    to {
      opacity: 1;
      transform: rotateX(0);
    }

  }

  .navHeader li:nth-child(2) {
    animation-delay: 300ms;
  }

  .navHeader li:nth-child(3) {
    animation-delay: 600ms;
  }

  .navHeader li:nth-child(4) {
    animation-delay: 900ms;
  }


  .navHeader li a {
    display: block;
    background-color: rgb(226, 224, 224);
    padding: 0.85rem 2.5rem;
    cursor: pointer;
    z-index: 10;
  }

  .btnHeader {
    display: inline-block;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.error {
  margin-top: 0rem;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-self: center;
}

.error p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: var(--color-gray-700);
  padding: 0.7rem;
  width: 100%;
  color: rgb(11, 199, 11);
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1rem;
  position: absolute;
  top: 80px;
  right: 0px;
  z-index: 2;
  opacity: 0;
  animation: remove 3s ease-in;
}

@keyframes remove {

  from {
    opacity: 1;

  }

  to {
    opacity: 0;
  }
}