.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1.6rem 7rem;
  margin-bottom: 7rem;
}

/* Mobile */
/* Devices with less than 800px */
@media screen and (max-width: 800px) {
  .posts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 2rem 7rem;
    margin-bottom: 3rem;

  }
}