.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 3.5rem 10rem 8.5rem 10rem;
  gap: 2rem;
}


.noDataFound {
  padding: 2rem;
  border-radius: var(--radius-1);
  width: 100%;
  display: flex;
  justify-content: center;

}

.noDataFound p {
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  background-color: white;
  width: 70%;
  padding: 2rem;

}


/* Mobile */
/* Devices with less than 800px */
@media screen and (max-width: 800px) {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;

  }

  .posts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 0;
    margin-bottom: 0rem;
    margin: 0 3rem;

  }

  .noDataFound {
    font-size: 0.8rem;

  }
}





@media (min-width: 800px) and (max-width: 1200px) {
  .posts {
    gap: 1.5rem;
    margin: 2rem 3rem 13rem 3rem;
  }
}