.post {
  width: 100%;
  background-color: #e3e7f0;
  padding: 1.5rem;
  border-radius: 2rem;
  transition: var(--transition);
  cursor: pointer;
  position: relative;

}

.post:hover {
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}


.imagePost {
  width: 100%;
  overflow: hidden;
  height: 12rem;
  border-radius: 2rem;
  background-size: cover;
  position: relative;

}

.imagePost img {
  width: 100%;
  height: 15rem;
  position: absolute;
  top: 0;
  left: 0;
}


.post h3 {
  margin: 1rem;
  color: var(--color-gray-500);
  font-size: 1.1rem;
}

.post p {
  margin-top: 5px;
  padding: 0 1rem;


}

.postFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.category {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 0.5rem 1.3rem;
  border-radius: 2rem;
  transition: var(--transition);
  font-size: 0.8rem;
}

.category:hover {
  background-color: var(--color-gray-900);
}