.post {
  width: 100%;
  background-color: #dddcdb;
  padding: 1rem;
  border-radius: 2rem;
  transition: var(--transition);
  cursor: pointer;
  position: relative;

}

.post:hover {
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
}


.imagePost {
  width: 100%;
  overflow: hidden;
  height: 10rem;
  border-radius: 2rem;
  background-size: cover;
  position: relative;

}

.imagePost img {
  width: 100%;
  height: 14rem;
  position: absolute;
  top: 0;
  left: 0;
}


.post h3 {
  margin: 1rem 0 0 0.6rem;
  color: var(--color-gray-500);
  font-size: 1.3rem;
}

.post p {
  margin-top: 0.7rem;
  padding: 0 1rem;


}

.postFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.category {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 0.5rem 1.4rem;
  border-radius: 2rem;
  transition: var(--transition);
}

.category:hover {
  background-color: var(--color-gray-900);
}