.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1.6rem 7rem;
  margin-bottom: 8rem;
}

.section {
  margin-top: 2rem;
}

/* Mobile */
/* Devices with less than 800px */
@media screen and (max-width: 800px) {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
  }

  .posts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 0rem 2rem;
    margin-bottom: 0rem;

  }
}