.footer {
  background-color: var(--color-gray-900);
  margin-top: 10rem;
  padding-top: 2.5rem;
  position: sticky;
  bottom: 0;
  z-index: 1;

}

.footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.footer a {
  background-color: var(--color-gray-700);
  color: var(--color-white);
  padding: 0.6rem 1.4rem;
  border-radius: var(--radius-2);
  transition: var(--transition);
}

.footer a:hover {
  background-color: var(--color-white);
  color: var(--color-gray-900)
}

.copyright {
  padding: 0.8rem 0 1.3rem 0;
  text-align: center;
  border-top: 2px solid var(--color-gray-700);
  color: var(--color-white)
}