.navHeader {
  width: 100vw;
  height: 5rem;
  background-color: rgba(223, 223, 223, 0.592);
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 4px solid var(--color-bg);
  box-shadow: 2px 6px 20px -9px rgba(133, 133, 133, 0.75);
  /* -webkit-box-shadow: 2px 6px 20px -9px rgba(133, 133, 133, 0.75);
  -moz-box-shadow: 2px 6px 20px -9px rgba(133, 133, 133, 0.75); */
  backdrop-filter: blur(20px);
  border-bottom: 5px solid var(--color-primary);

}

.containerHeader {
  width: var(--container-width-ls);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.containerHeader a {
  font-size: 1.1rem;
  color: var(--color-gray-500);
}

.logoImg {
  width: 3rem;
  display: block;

}

.logoImg img {
  border-radius: 0.7rem;
  box-shadow: 2px 6px 20px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 6px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 6px 20px -9px rgba(0, 0, 0, 0.75);

}

.btnHeader {
  display: inline-block;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-2);
  background: var(--color-white);
  font-weight: 500;
  cursor: pointer;
  transition: var(--transition);
}

.displayNone {
  display: none;
}

.navMenu {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}