.editPost {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;


}

.container {
  width: var(--form-width);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

.container h2 {
  text-align: center;
  color: var(--color-gray-500);
}

.error {
  background-color: var(--color-red);
  padding: 0.4rem 0.8rem;
  color: var(--color-white);
  border-radius: var(--radius-1);
  font-size: 1rem;
  margin-top: 0.7rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.form select {
  color: var(--color-gray-300);
  padding: 0.6rem 0.4rem;
}

.btn {
  background-color: var(--color-primary);
  padding: 0.8rem;
  border-radius: var(--radius-1);
  color: var(--color-white);
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}


.quill {
  overflow: scroll;
  background-color: var(--color-white);
  height: 10rem;
}


/* Mobile */
/* Devices with less than 800px */
@media screen and (max-width: 800px) {

  .container {
    width: 80%;
  }

  .container h2 {
    font-size: 2rem;
  }
}