section {
  min-height: 100vh;

}

.title {
  margin-top: 8rem;
  text-align: center;
  font-size: 2rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1rem 4rem;
  margin: 2rem auto;

}


.author {
  background-color: var(--color-white);
  padding: 1rem;
  border-radius: var(--radius-3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  transition: var(--transition);
}

.author:hover {
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.07);
}

.authorsImage {
  width: 5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 0.3rem solid var (--color-bg);
  overflow: hidden;
}

.info h4 {
  font-size: 1rem;
  color: var(--color-gray-300);
  margin-bottom: 0.4rem;

}

.noDataFound {
  padding: 2rem;
  border-radius: var(--radius-1);
  width: 100%;
  display: flex;
  justify-content: center;

}

.noDataFound p {
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  background-color: white;
  width: 70%;
  padding: 2rem;

}


/* Mobile */
/* Devices with less than 800px */
@media screen and (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 1rem 3rem;
    margin: 6rem auto;

  }

  .noDataFound {
    width: 100%;

  }

  .noDataFound p {
    font-size: 0.8rem;
  }
}