.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 3.5rem 5rem 8.5rem 5rem;
  gap: 2rem;


}

.noDataFound {
  padding: 2rem;
  border-radius: var(--radius-1);
  width: 100%;
  display: flex;
  justify-content: center;

}

.noDataFound p {
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  background-color: white;
  width: 70%;
  padding: 2rem;

}


/* Mobile */
/* Devices with less than 800px */
@media screen and (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 2rem 2rem 6rem 2rem;
    gap: 2rem;
  }

  .noDataFound {
    width: 100%;

  }

  .noDataFound p {
    font-size: 0.8rem;
  }
}



/* Tablet device */
/* Devices with less than 1200px */
@media (min-width: 800px) and (max-width: 1200px) {

  .posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 0;
    margin: 2rem 3rem 6rem 3rem;

  }
}