.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2.5rem 3rem 7rem 3rem;
  gap: 2rem;
}

.title {
  margin-top: 7.5rem;
  text-align: center;
  font-size: 2rem;
}


.noDataFound {
  padding: 2rem;
  border-radius: var(--radius-1);
  width: 100%;
  display: flex;
  justify-content: center;

}

.noDataFound p {
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  background-color: white;
  width: 70%;
  padding: 2rem;

}


/* Mobile */
/* Devices with less than 800px */
@media screen and (max-width: 800px) {
  .section {
    margin-top: 3rem;

  }

  .posts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 0;
    margin: 2.5rem 2rem 6rem 2rem;

  }

  .noDataFound {
    font-size: 0.8rem;

  }

  .noDataFound p {
    width: 100%;

  }

}



/* Tablet device */
/* Devices with less than 1200px */
@media (min-width: 805px) and (max-width: 1200px) {

  .posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 0;
    margin: 2.5rem 2rem 6rem 2rem;

  }
}