.change {
  width: 100%;
  display: flex;
  justify-content: center;

  margin-top: 4rem;

}

.mainChange {
  height: 70%;
  width: 40%;
  padding: 2rem 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: rgba(224, 224, 224, 0.889);
  border-radius: var(--radius-3);
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.3);
  margin-top: 5rem;
  justify-content: center;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

}

.mainChange h2 {
  color: var(--color-primary);
  font-family: "Urbanist", sans-serif;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.form p {
  color: aliceblue;
  font-size: 0.8rem;
  padding: 0.4rem 0.7rem;
  border-radius: var(--radius-1);
  margin-bottom: 0.4rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  text-align: center;

}

.error {
  background-color: var(--color-red);
}

.message {
  background-color: var(--color-green);
}



.mainChange button {
  width: 100%;
  background-color: var(--color-primary);
  padding: 0.8rem 1rem;
  border-radius: var(--radius-1);
  color: aliceblue;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 1px;
}

.mainChange a {
  color: var(--color-primary);
  font-size: 0.7rem;
  font-weight: 600;
  margin-left: 0.2rem;
}

.mainChange small {
  text-align: center;
  font-size: 0.7rem;
}


.password {
  position: relative;

}

.password span {
  color: var(--color-primary);
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}




/* Mobile */
/* Devices with less than 800px */
@media screen and (max-width: 800px) {

  .mainChange {
    width: 80%;
    height: 70%;
    margin-top: 5rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

  }

  .mainChange h2 {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 1rem;

  }

}