.dashboard {
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem 8.5rem 2rem;
  gap: 1rem;

}

.dashboardPost {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-white);
  padding: 1rem;
  border-radius: var(--radius-3);

}

.imgContainer {
  width: 4rem;
  border-radius: var(--radius-1);

}

.imgContainer img {
  width: 4rem;
  border-radius: var(--radius-1);
  overflow: hidden;

}

.title h3 {
  font-size: 1.4rem;
  color: var(--color-gray-300);
  width: 100%;
}

.btns {
  display: flex;
  gap: 0.6rem;
  justify-content: center;
  align-items: center;


}

.view {
  cursor: pointer;
  margin-right: 0.7rem;
}

.edit {
  background-color: var(--color-primary);
  padding: 0.5rem 1rem;
  color: var(--color-white);
  border-radius: var(--radius-1);
  cursor: pointer;
}

.delete {
  background-color: var(--color-red);
  padding: 0.5rem 1rem;
  color: var(--color-white);
  border-radius: var(--radius-1);
  cursor: pointer;
}

.noDataFound {
  padding: 2rem;
  border-radius: var(--radius-1);
  width: 100%;
  display: flex;
  justify-content: center;

}

.noDataFound p {
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  background-color: white;
  width: 70%;
  padding: 2rem;

}


/* Mobile */
/* Devices with less than 800px */
@media screen and (max-width: 800px) {
  .dashboard {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0 1rem;
    margin-bottom: 6rem;
    margin: 0;

  }

  .dashboardPost {
    width: 100%;
  }

  .title h3 {
    font-size: 0.8rem;
    color: var(--color-gray-300);
    margin: 0 1rem 0 1rem;
  }

  .btns {
    gap: 0.4rem;
    letter-spacing: 0.8px;

  }


  .view {
    padding: 0.5rem 0rem;
    font-size: 0.8rem;
  }


  .edit {
    background-color: var(--color-primary);
    padding: 0.5rem 0.8rem;
    border-radius: var(--radius-1);
    color: aliceblue;
    font-size: 0.9rem;
    width: 100%;

  }

  .delete {
    background-color: var(--color-red);
    padding: 0.5rem 0.8rem;
    border-radius: var(--radius-1);
    color: aliceblue;
    font-size: 0.9rem;
    width: 100%;

  }



  .noDataFound {
    padding: 1rem;


  }

  .noDataFound p {
    font-size: 0.8rem;
    width: 98%;
    padding: 2rem;

  }


}