.login {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 7rem;

}

.mainLogin {
  height: 62%;
  width: 40%;
  padding: 2rem 3rem;
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 0.5rem; */
  background-color: rgba(224, 224, 224, 0.889);
  border-radius: var(--radius-3);
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.3);
  margin-top: 3rem;

}


.form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

}

.mainLogin h2 {
  color: var(--color-primary);
  font-family: "Urbanist", sans-serif;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.form p {
  background-color: rgba(221, 67, 67, 0.838);
  color: aliceblue;
  font-size: 0.8rem;
  padding: 0.4rem 0.7rem;
  border-radius: var(--radius-1);
  margin-bottom: 0.4rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;

}

.mainLogin button {
  width: 100%;
  background-color: var(--color-primary);
  padding: 0.8rem 1rem;
  border-radius: var(--radius-1);
  color: aliceblue;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 1px;
}

.mainLogin a {
  color: var(--color-primary);
  font-size: 0.7rem;
  font-weight: 600;
  margin-left: 0.2rem;
}

.mainLogin small {
  text-align: center;
  font-size: 0.7rem;
}


.password {
  position: relative;

}

.password span {
  color: var(--color-primary);
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}




/* Mobile */
/* Devices with less than 800px */
@media screen and (max-width: 800px) {

  .mainLogin {
    width: 60%;
    height: 70%;
    margin-top: 0rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

  }

  .mainLogin h2 {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 1rem;

  }

}