.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
  margin-top: 4rem;

}

.mainContainer {
  width: 60%;
  background-color: var(--color-box);
  padding: 2rem;
  border-radius: var(--radius-1);
  box-shadow: 3px 8px 57px -14px rgba(105, 105, 105, 0.6);
  -webkit-box-shadow: 3px 8px 57px -14px rgba(105, 105, 105, 0.6);
  -moz-box-shadow: 3px 8px 57px -14px rgba(105, 105, 105, 0.6);
}


.mainContainer h1 {
  text-align: center;
  margin: 3rem 0 1rem 0;
  color: var(--color-gray-500);
  font-family: "Urbanist", sans-serif;

}

.containerImg {
  margin-bottom: 1.4rem;
  width: 100%;
  overflow: hidden;
  height: 20rem;
  border-radius: 0.7rem;
  position: relative;
  background-size: cover;

}

.containerImg img {
  object-fit: cover;
  width: 100%;
  height: 20rem;
  position: absolute;
  top: 0;
  left: 0;

}



.imagePost {
  width: 100%;
  overflow: hidden;
  height: 12rem;
  border-radius: 2rem;

  position: relative;

}

.imagePost img {
  width: 100%;
  height: 15rem;
  position: absolute;
  top: 0;
  left: 0;
}




.header {
  display: flex;
  justify-content: space-between;
}

.btns {
  display: flex;
  gap: 0.7rem;
  justify-content: center;
  align-items: center;

}



.edit {
  background-color: var(--color-primary);
  padding: 0.4rem 0.9rem;
  border-radius: var(--radius-1);
  color: aliceblue;
  font-size: 0.9rem;

}

.noDataFound {
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
}




/* Mobile */
/* Devices with less than 800px */
@media screen and (max-width: 800px) {

  .container {
    margin-top: 2rem;
    margin-bottom: 7rem;
  }

  .mainContainer {
    width: 85%;
    margin-top: 0;
    padding: 1rem;


  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btns {
    text-align: center;
    gap: 0.3rem;
    width: 100%;
    padding: 0.5rem 0.8rem;
    border-radius: var(--radius-1);
    color: aliceblue;
    width: 100%;
    margin-top: 1rem;

  }

  .edit {
    width: 100%;
  }

  .delete {
    width: 100%;
  }

  .authorContainer {
    width: 100%;
  }

  .noDataFound {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }

}


@media screen and (max-width: 1200px) {
  .container {
    margin-bottom: 12rem;
    margin-top: 3rem;
  }

  .mainContainer {
    width: 70%;
  }
}