.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

}


.form {
  margin-top: 3rem;
  background-color: rgba(240, 240, 240, 0.889);
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.2);
  ;
}

hr {
  width: 100%;
  background-color: var(--color-gray-100);
  height: 1px;
}

.input {
  width: 85%;
  padding: 1rem;
  border: 2px solid lightgray;

}

.secondHr {
  margin-top: 2.7rem;
}


.form h1 {
  color: var(--color-primary);
  margin-top: 1rem;
  padding: 1.5rem;
}

.message {
  font-size: 0.9rem;
  padding: 15px 3rem 1.8rem 3rem;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 1rem;
  padding: 1.5rem 3rem;


}

.btn {
  width: 130px;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  cursor: pointer;
  color: aliceblue;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 600;
}

.cancel {
  background-color: lightgray;
  color: #555;

}

.send {
  background-color: var(--color-primary);

}

/* Check card */
.checkEmail {
  font-size: 1.5rem;
  padding: 3.5rem;
  font-weight: 600;
}

.form span {
  margin-left: 0.2rem;
}

.error {
  width: 84%;
  background-color: var(--color-green);
  margin: 0 0 0.8rem 0;
  padding: 0.68rem;
  border-radius: var(--radius-1);
  color: aliceblue;
  text-align: center;
}