.mainContainer {
  display: grid;
  text-align: center;
  place-items: center;

}

.profile {
  width: 50%;
  padding: 1.5rem 3rem;
}

.mainContainer a {
  background-color: rgb(255, 255, 255);
  border-radius: var(--radius-3);
  padding: 0.5rem 1.9rem;
  color: var(--color-gray-300);
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Urbanist", sans-serif;
  border: 2px solid var(--color-primary);

}

.wrapperImg {
  width: 12rem;
  aspect-ratio: 1/1;
  position: relative;
  margin-inline: auto;

}

.containerImg {
  height: 100%;
  border-radius: 50%;
  border: 1rem solid var(--color-white);
  overflow: hidden;
}

.imageForm {
  height: 1rem;
}

.imageForm input {
  visibility: hidden;
}

.imageForm label,
.imageBtn {
  background-color: var(--color-gray-500);
  color: var(--color-white);
  font-size: 1.1rem;
  position: absolute;
  right: 0.6rem;
  bottom: 1.3rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;

}

.imageBtn {
  cursor: pointer;
  padding: 0;
  font-size: 1.3rem;
  background-color: var(--color-primary);
}

.profile h2 {
  margin-top: 0.6rem;
  color: var(--color-gray-700);
  font-family: "Urbanist", sans-serif;
}

.register {
  padding: 1.6rem 7rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.mainRegister {
  width: var(--form-width);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: rgba(224, 224, 224, 0.889);
  border-radius: var(--radius-3);
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.3);

}


/* Details form */
.form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

}

/* 
.mainRegister h2 {
  color: var(--color-primary);
  font-family: "Urbanist", sans-serif;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
} */

.form p {
  background-color: rgba(221, 67, 67, 0.838);
  color: aliceblue;
  font-size: 0.8rem;
  padding: 0.4rem 0.7rem;
  border-radius: var(--radius-1);
  margin-bottom: 0.4rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  margin-top: 2rem;

}

.profile button {
  width: 100%;
  background-color: var(--color-primary);
  padding: 0.8rem 1rem;
  border-radius: var(--radius-1);
  color: aliceblue;
  margin-top: 1rem;
  font-size: 1rem;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0rem;
  cursor: pointer;
}



/* Mobile */
/* Devices with less than 800px */
@media screen and (max-width: 800px) {

  .profile {
    width: 80%;
    padding: 1.5rem 3rem;
  }


}