.mainContainer {
  display: grid;
  text-align: center;
  place-items: center;
  margin-top: 5rem;

}

.profile {
  width: 50%;
  padding: 1.5rem 3rem;
}

.mainContainer a {
  background-color: rgb(255, 255, 255);
  border-radius: var(--radius-3);
  padding: 0.3rem 1.9rem;
  color: var(--color-gray-300);
  font-size: 1rem;
  font-weight: 600;
  font-family: "Urbanist", sans-serif;
  border: 3px solid var(--color-primary);

}

.wrapperImg {
  width: 9rem;
  aspect-ratio: 1/1;
  position: relative;
  margin-inline: auto;

}

.containerImg {
  height: 100%;
  border-radius: 50%;
  border: 10px solid var(--color-white);
  overflow: hidden;
}

.imageForm {
  height: 1rem;
}

.imageForm input {
  visibility: hidden;
}


.editBtnIcon {
  background-color: var(--color-gray-500);
}

.editBtnIcon,
.saveBtnIcon {
  color: var(--color-white);
  font-size: 0.83rem;
  position: absolute;
  right: 0.6rem;
  bottom: 1.3rem;
  width: 1.9rem;
  height: 1.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;

}

.saveBtnIcon {
  cursor: pointer;
  padding: 0;
  font-size: 0.83rem;
  background-color: var(--color-primary);
}


/* Details form */
.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;


}


.username {
  color: var(--color-gray-400);
  font-family: "Urbanist", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.form p {
  color: aliceblue;
  font-size: 0.6rem;
  padding: 0.4rem 0.7rem;
  border-radius: var(--radius-1);
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  margin-top: 0.2rem;

}

.form input {
  padding: 0.5rem;
  border-radius: var(--radius-1);
}

.error {
  background-color: var(--color-red);
}

.message {
  background-color: var(--color-green);
}

.profile button {
  width: 100%;
  background-color: var(--color-primary);
  padding: 0.8rem 1rem;
  border-radius: var(--radius-1);
  color: aliceblue;
  margin-top: 0.3rem;
  font-size: 1rem;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0rem;
  cursor: pointer;
}


.password {
  position: relative;

}

.password span {
  color: var(--color-primary);
  position: absolute;
  top: 7px;
  right: 16px;
  cursor: pointer;
}

.loading {
  background-color: gray;

}



/* Mobile */
/* Devices with less than 800px */
@media screen and (max-width: 800px) {
  .profile {
    width: 100%;
    padding: 1.5rem 3rem;
  }


  .mainContainer {
    display: grid;
    text-align: center;
    place-items: center;
    margin-top: 2rem;

  }

  .mainContainer a {

    padding: 0.4rem 1rem;
    color: var(--color-gray-300);
    font-size: 0.8rem;
    font-weight: 600;
    font-family: "Urbanist", sans-serif;
    border: 2px solid var(--color-primary);

  }

  .containerImg {
    height: 100%;
    border-radius: 50%;
    border: 7px solid var(--color-white);
    overflow: hidden;
  }

  .mainContainer h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .wrapperImg {
    width: 7rem;
    aspect-ratio: 1/1;
    position: relative;
    margin-inline: auto;

  }


  .profile button {
    width: 100%;
    background-color: var(--color-primary);
    padding: 0.8rem;
    border-radius: var(--radius-1);
    color: aliceblue;
    margin-top: 0.3rem;
    font-size: 0.9rem;
    font-family: "Urbanist", sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0rem;
    cursor: pointer;
  }


}