.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


}

.box {
  background-color: rgb(218, 217, 217);
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-1);
  padding: 2rem;
}

.container h1 {
  font-size: 2.5rem;
  color: var(--color-primary);
  text-align: center;

}

.container p {
  text-align: center;
  font-size: 1.2rem;
  color: aliceblue;
  padding: 1rem;
  border-radius: var(--radius-1);
}

.error {
  background-color: var(--color-red);
}

.message {
  background-color: var(--color-green);
}

.loadingMessage {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  padding-top: 2.5rem;

}

/* Loading animation */
.boucingLoader {
  display: flex;
  justify-content: center;

}

.boucingLoader span {
  width: 7px;
  height: 7px;
  margin: 3px 6px;
  border-radius: 50%;
  background-color: var(--color-primary);
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}

@keyframes bouncing-loader {
  to {
    opacity: 1;
    transform: translateY(-3px);
  }
}

.bouncing-loader>span:nth-child(2) {
  animation-delay: 2s;
}

.bouncing-loader>span:nth-child(3) {
  animation-delay: 2s;
}


/* Mobile */
/* Devices with less than 800px */
@media screen and (max-width: 800px) {

  .container {
    margin-top: 3rem;

  }

  .box {
    width: 85%;
    padding: 0.9rem;

  }

  .container h1 {
    font-size: 1.5rem;

  }


  .container p {
    font-size: 0.7rem;
    color: aliceblue;
    padding: 1rem;
    border-radius: var(--radius-1);

  }

  .loadingMessage {
    gap: 0.5rem;
  }

  .loadingMessage {
    margin-bottom: 1.7rem;
  }

}