@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-primary: #6f6af8;
  --color-white: #ffff;
  --color-red: red;
  --color-gray-100: #bbb;
  --color-gray-200: #999;
  --color-gray-300: #777;
  --color-gray-500: #555;
  --color-gray-700: #333;
  --color-gray-900: #222;

  --color-box: #f5f5f5;
  --color-main-box: #EEF2FF;

  --color-bg: #hwb(240 95% 0);

  --transition: all 300ms ease;
  --container-width-ls: 87%;
  --container-width-md: 92%;

  --form-width: 55%;

  --radius-1: 0.3rem;
  --radius-2: 0.6rem;
  --radius-3: 1rem;
  --radius-4: 2rem;

}



* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  background-color: var(--color-bg);
}


html {
  background-color: var(--color-main-box);

}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  line-height: 1.6;
  color: var(--color-gray-300);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;


}

a {
  color: var(--color-gray-300);
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-gray-200);
  line-height: 1.1;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.9rem;
  line-height: 1.25;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.2rem;
  line-height: 1;

}

p {
  font-size: 0.8rem;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}


section {
  margin-top: 7rem;
}

input,
select,
textarea {
  width: 100%;
  padding: 0.6rem 0.6rem;
  border-radius: var(--radius-1);
  resize: none;
  background-color: #ffffff;
}


main {
  display: flex;
  flex: 1;

}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}